* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5rem;
  color: white;
  padding-top: 1rem;
}

.form-container {
  display: block;
  margin: 0 auto;
}

.input-control {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem 2rem;
}

.error-login {
  color: red;
  text-align: center;
}

.input-error {
  border: red;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item {
  padding: 0rem 0.2rem;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-nav .nav-item a:hover:not(.active) {
  border-radius: 10px;
  border: 3px solid white;
  color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.navbar-nav .nav-item .active {
  background-color: #986545;
  border-radius: 10px;
  color: white !important;
}

.navbar-brand img {
  height: 100px;
  width: 130px;
}

@media (max-width: 640px) {
  .navbar-nav {
    margin-left: 1rem;
  }
  .navbar-nav .nav-item .nav-link {
    color: #986545;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .navbar-nav .nav-item a:hover:not(.active) {
    border-radius: 10px;
    border: 3px solid white;
    color: #986545;
    -webkit-transition: all 1ms ease;
    transition: all 1ms ease;
  }
  .navbar-nav .nav-item .active {
    background-color: #986545;
    border-radius: 10px;
    color: white !important;
    padding-left: 0.5rem;
  }
  #navbarNavDropdown,
  .navbar-toggler {
    background-color: white;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(197, 132, 126)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .jumbotron-fluid {
    height: 45vh !important;
  }
  .bg-title {
    font-size: 3.5rem;
    padding-top: 1rem;
  }
}

/* MISSION AND VISION STATEMENT */
.vision-mission-container {
  padding: 3rem 5rem;
  margin: 0rem 15rem;
}

.vision-mission-container .grid-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vision-mission-container .grid-container .left-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.vision-mission-container .grid-container .left-container .mission-statement {
  margin-top: 2rem;
  padding: 4rem 0rem;
}

.vision-mission-container .grid-container .left-container .mission-statement .mission-header {
  font-weight: bold;
  font-size: 2rem;
}

.vision-mission-container .grid-container .left-container hr {
  display: none;
}

.vision-mission-container .grid-container .left-container .mission-image img {
  max-width: 90%;
}

.vision-mission-container .grid-container .right-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.vision-mission-container .grid-container .right-container .vision-statement {
  margin-top: 2rem;
  padding: 4rem 2rem;
}

.vision-mission-container .grid-container .right-container .vision-statement .vision-header {
  font-weight: bold;
  font-size: 2rem;
}

.vision-mission-container .grid-container .right-container hr {
  display: none;
}

.vision-mission-container .grid-container .right-container .vision-image img {
  max-width: 90%;
}

@media (max-width: 640px) {
  .vision-mission-container {
    padding: 2rem !important;
    margin: 0rem;
  }
  .vision-mission-container .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .vision-mission-container .grid-container .left-container {
    display: block;
  }
  .vision-mission-container .grid-container .left-container .mission-statement {
    margin-top: 0rem;
    padding: 0rem;
  }
  .vision-mission-container .grid-container .left-container hr {
    display: block !important;
    width: 5rem;
    margin: 0.5rem auto;
    padding: 0.2rem 0rem;
    color: #986545 !important;
  }
  .vision-mission-container .grid-container .left-container .mission-image {
    visibility: hidden !important;
  }
  .vision-mission-container .grid-container .left-container .mission-image img#missionImage {
    display: none;
  }
  .vision-mission-container .grid-container .right-container {
    display: block;
  }
  .vision-mission-container .grid-container .right-container .vision-statement {
    padding: 2rem 0rem;
    margin-top: 0rem;
  }
  .vision-mission-container .grid-container .right-container .vision-statement hr {
    display: block !important;
    width: 5rem;
    margin: 0.5rem auto;
    padding: 0.2rem 0rem;
    color: #986545;
  }
  .vision-mission-container .grid-container .right-container .vision-image {
    visibility: hidden !important;
  }
  .vision-mission-container .grid-container .right-container .vision-image img#visionImage {
    display: none;
  }
}

/* OUR TEAM */
.our-team-container {
  background-color: #986545;
  color: white;
  padding: 2rem 0rem;
  margin-top: 1rem;
}

.our-team-container .our-team-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.our-team-container .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0rem 3.5rem;
}

.our-team-container .profiles .profile {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
}

.our-team-container .profiles .profile .profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.our-team-container .profiles .profile .user-name {
  margin-top: 30px;
  font-size: 1.5rem;
}

.our-team-container .profiles .profile p {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: justify;
}

@media only screen and (max-width: 1150px) {
  .profiles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profiles .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profiles .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
  }
}

@media only screen and (max-width: 993px) {
  .profiles {
    margin: 1.25rem 0;
  }
}

.popup .content {
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translate(-50%, -150%) scale(0);
          transform: translate(-50%, -150%) scale(0);
  width: 25rem;
  height: 30rem;
  z-index: 2;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  z-index: 1;
  border-radius: 50px;
  background-color: white;
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 5px 5px #e0e0e0;
          box-shadow: 5px 5px 5px 5px #e0e0e0;
}

.popup .content .close-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: black;
  font-size: 30px;
  border-radius: 50%;
  padding: 2px 5px 7px 5px;
  font-weight: 500;
}

.popup .content .close-btn:hover {
  background-color: #F5F1E5;
  height: 50px;
  width: 50px;
}

.popup .content img {
  height: 100px;
  width: 130px;
}

.popup .content .title {
  font-size: 1.8rem;
  font-weight: 500;
}

.popup .content .caption {
  font-weight: 300;
  padding-bottom: 1rem;
}

.popup .content .input-field {
  padding: 0.5rem;
}

.popup .content .input-field .validate {
  padding: 0rem 0.5rem;
  border-radius: 10px;
  border: 2px solid #707070;
  height: 3rem;
  font-size: 1.3;
}

.popup .content .input-field .validate:hover {
  border: 3px solid #986545;
}

.popup .content .second-button {
  background-color: #986545;
  color: white;
  height: 2.5rem;
  width: 6rem;
  border-radius: 10px;
  margin: 1rem 0rem;
  border: 2px solid #986545;
}

.popup .content .second-button:hover {
  background-color: white;
  color: #986545;
}

.popup .content .signup {
  color: #707070;
  font-weight: 700;
}

.popup .content .confirmData {
  padding: 0.5rem 0rem;
  font-size: 1rem;
  color: #f06464;
  font-weight: 700;
}

.popup.active .content {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translate(-50%, -120%) scale(1);
          transform: translate(-50%, -120%) scale(1);
}

.sign-up-popup .content {
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translate(-50%, -150%) scale(0);
          transform: translate(-50%, -150%) scale(0);
  width: 25rem;
  height: 43rem;
  z-index: 2;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  z-index: 1;
  border-radius: 50px;
  background-color: white;
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 5px 5px #e0e0e0;
          box-shadow: 5px 5px 5px 5px #e0e0e0;
}

.sign-up-popup .content .close-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: black;
  font-size: 30px;
  border-radius: 50%;
  padding: 2px 5px 7px 5px;
  font-weight: 500;
}

.sign-up-popup .content .close-btn:hover {
  background-color: #F5F1E5;
  height: 50px;
  width: 50px;
}

.sign-up-popup .content img {
  height: 100px;
  width: 130px;
}

.sign-up-popup .content .title {
  font-size: 1.8rem;
  font-weight: 500;
}

.sign-up-popup .content .caption {
  font-weight: 300;
  padding-bottom: 1rem;
}

.sign-up-popup .content .input-field {
  padding: 0.5rem;
}

.sign-up-popup .content .input-field .validate {
  padding: 0rem 0.5rem;
  border-radius: 10px;
  border: 2px solid #707070;
  height: 2rem;
  font-size: 1.3;
}

.sign-up-popup .content .input-field .validate:hover {
  border: 3px solid #986545;
}

.sign-up-popup .content .second-button {
  background-color: #986545;
  color: white;
  height: 2rem;
  width: 5rem;
  border-radius: 10px;
  margin: 1rem 0rem;
  border: 2px solid #986545;
}

.sign-up-popup .content .second-button:hover {
  background-color: white;
  color: #986545;
}

.sign-up-popup .content .signup {
  color: #707070;
  font-weight: 700;
}

.sign-up-popup .content .confirmData {
  padding: 0.5rem 0rem;
  font-size: 1rem;
  color: #f06464;
  font-weight: 700;
}

.sign-up-popup.active .content {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translate(-50%, -97%) scale(1);
          transform: translate(-50%, -97%) scale(1);
}
/*# sourceMappingURL=aboutus.css.map */