body {
  font-family: "Montserrat", sans-serif;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
  color: #986545;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-nav .nav-item .nav-link-phone {
  display: none !important;
}

#homeText {
  display: none !important;
}

#profileIcon {
  font-size: 2.3em;
  text-decoration: none;
  color: #986545;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

#homeIcon {
  color: #e7ddc0;
  font-size: 1.8em !important;
  text-decoration: none;
}

.navbar-brand img {
  height: 100px;
  width: 130px;
}

@media (max-width: 640px) {
  .navbar-nav {
    margin-left: 1rem;
  }
  .navbar-nav .nav-item {
    padding-bottom: 0.5rem;
  }
  .navbar-nav .nav-item .nav-link,
  .navbar-nav .nav-item .nav-link-phone {
    color: #986545;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .navbar-nav .nav-item .nav-link-phone {
    display: block !important;
  }
  .navbar-nav .nav-item a:hover:not(.active) {
    border-radius: 10px;
    border: 3px solid #f5f1e5;
    color: #986545;
    -webkit-transition: all 1ms ease;
    transition: all 1ms ease;
  }
  .navbar-nav .nav-item #active {
    background-color: #986545;
    border-radius: 10px;
    color: white !important;
    padding: 0.5rem 1rem;
    display: block !important;
  }
  #homeText {
    display: block !important;
  }
  #profileIcon,
  #homeIcon,
  #popup-profile {
    display: none !important;
  }
  #activeProfile {
    background-color: #986545;
    border-radius: 10px;
    color: white !important;
    padding: 0.5rem 1rem;
  }
}

.profile-popup .content {
  position: absolute;
  top: 35%;
  left: 88%;
  -webkit-transform: translate(-50%, -150%) scale(0);
          transform: translate(-50%, -150%) scale(0);
  width: 150px;
  height: 150px;
  z-index: 2;
  padding: 1rem 0rem;
  z-index: 1;
  border-radius: 10px;
  background-color: #f5f1e5;
  -webkit-box-shadow: 2px 2px 2px 2px #e0e0e0;
          box-shadow: 2px 2px 2px 2px #e0e0e0;
}

.profile-popup .content ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0.5rem;
  font-size: 1rem !important;
}

.profile-popup .content ul li i {
  margin-right: 0.5rem;
  margin-top: 0.3rem;
  color: #986545;
}

.profile-popup .content ul li a {
  text-decoration: none;
  color: #986545;
  font-size: 1rem;
}

.profile-popup.active .content {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translate(-30%, -100%) scale(1);
          transform: translate(-30%, -100%) scale(1);
}

.edit-dashboard .edit-dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.edit-dashboard .edit-dashboard-container .edit-db-header {
  font-size: 2rem;
  font-weight: 700;
}

.edit-dashboard .edit-dashboard-container .edit-db-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.edit-dashboard .edit-dashboard-container .edit-db-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1rem 0rem;
}

.edit-dashboard .edit-dashboard-container .edit-db-grid .edit-db-name {
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 1rem;
}

.edit-dashboard .edit-dashboard-container .edit-db-grid .edit-db-id {
  font-weight: 700;
}

.edit-dashboard .edit-dashboard-container .edit-db-grid .edit-db-img img {
  max-width: 100%;
  max-height: 100%;
}

.edit-dashboard .edit-dashboard-container .edit-db-grid:nth-child(even) {
  background-color: #f5f1e5;
}
/*# sourceMappingURL=editdashboard.css.map */