$phone: 640px;
$font-color: #986545;
$secondary-color: #c5847e;
$third-color: #f5f1e5;
$font-face: "Montserrat", sans-serif;

body {
    font-family: $font-face;
}
// NAV BAR CUSTOM STYLES
#homeIcon{
    color: darken($color: $third-color, $amount: 10);
}

#profileIcon, #editProfileText{
    color: $font-color !important;
}

// EDIT PROFILE

.edit-profile {
    .edit-info {
        display: flex;
        align-content: center;
        justify-content: center;
        .edit-info-container {
            .edit-info-header {
                font-size: 2rem;
                font-weight: 700;
            }

            .edit-info-title {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }

        .edit-container-grid {
            .form-control {
                border: none;
                display: grid;
                grid-template-columns: 5fr 15fr;
                margin: 1rem 0rem;

                .input-edit-control {
                    padding: 0.2rem 0.5rem;
                    margin-left: 0.5rem;
                    border: 1px solid $third-color;
                    background-color: $third-color;
                }
            }
        }

        .form-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            .btn-form {
                margin: 0rem 0.5rem 1.3rem 0.5rem;
                border: none;
                padding: 0.5rem;
                font-weight: 500;
                border-radius: 10px;
                a {
                    text-decoration: none;
                    color:black !important; 
                }

                &:hover {
                    background-color: white !important;
                    border: 1px solid $secondary-color;
                    color: $secondary-color !important;
                }
            }

            #submit {
                background-color: $secondary-color;
                color: white;
            }

            #back {
                &:hover {
                    background-color: white !important;
                    border: 1px solid #efefef;
                    color: black !important;
                }
            }
        }
    }
}

@media (max-width: $phone) {
    .edit-profile {
        padding: 0rem 1rem;
        .edit-info-container {
            display: flex !important;
            flex-direction: column;

            .edit-container-grid {
                .form-control {
                    grid-template-columns: repeat(2, 1fr) !important;
                }
            }
        }
    }
}
