.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
  color: #986545;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-nav .nav-item .nav-link-phone {
  display: none;
}

.navbar-nav .nav-item .active {
  background-color: #986545;
  border-radius: 10px;
  color: white !important;
  display: block !important;
}

#homeText {
  display: none !important;
}

#profileIcon {
  font-size: 2.8em;
  text-decoration: none;
  color: #e7ddc0;
  padding-left: 1.5rem;
}

#homeIcon {
  font-size: 1.4em;
  text-decoration: none;
  color: white;
}

.navbar-brand img {
  height: 100px;
  width: 130px;
}

@media (max-width: 640px) {
  .navbar-nav {
    margin-left: 1rem;
  }
  .navbar-nav .nav-item {
    padding-bottom: 0.5rem;
  }
  .navbar-nav .nav-item .nav-link,
  .navbar-nav .nav-item .nav-link-phone {
    color: #986545;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .navbar-nav .nav-item .nav-link-phone {
    display: block !important;
  }
  .navbar-nav .nav-item a:hover:not(.active) {
    border-radius: 10px;
    border: 3px solid #f5f1e5;
    color: #986545;
    -webkit-transition: all 1ms ease;
    transition: all 1ms ease;
  }
  .navbar-nav .nav-item .active {
    background-color: #986545;
    border-radius: 10px;
    color: white !important;
    padding: 0.5rem 1rem;
    display: none !important;
  }
  #homeText {
    display: block !important;
  }
  #profileIcon, #homeIcon, #popup-profile {
    display: none !important;
  }
  #navbarNavDropdown,
  .navbar-toggler {
    background-color: #f5f1e5;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(197, 132, 126)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.profile-popup .content {
  position: absolute;
  top: 35%;
  left: 88%;
  -webkit-transform: translate(-50%, -150%) scale(0);
          transform: translate(-50%, -150%) scale(0);
  width: 150px;
  height: 150px;
  z-index: 2;
  padding: 1rem 0rem;
  z-index: 1;
  border-radius: 10px;
  background-color: #f5f1e5;
  -webkit-box-shadow: 2px 2px 2px 2px #e0e0e0;
          box-shadow: 2px 2px 2px 2px #e0e0e0;
}

.profile-popup .content ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0.5rem;
}

.profile-popup .content ul li i {
  margin-right: 0.5rem;
  margin-top: 0.3rem;
  color: #986545;
}

.profile-popup .content ul li a {
  text-decoration: none;
  color: #986545;
  font-size: 1rem;
}

.profile-popup.active .content {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translate(-30%, -100%) scale(1);
          transform: translate(-30%, -100%) scale(1);
}

img {
  max-width: 100%;
  height: auto;
}

.gallery {
  margin: 0 0.65rem;
}

.gallery .gallery-item {
  height: auto;
  margin: 0.5rem;
}

.gallery .gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 640px) {
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (300px)[5];
        grid-template-rows: repeat(5, 300px);
    grid-auto-flow: row dense;
  }
  .gallery-item {
    margin: 0.7rem;
  }
  .gallery-item:first-child {
    grid-row: span 1;
  }
  .gallery-item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    grid-row: span 2;
  }
  .gallery-item:nth-child(6),
  .gallery-item:nth-child(8) {
    grid-row: span 2;
  }
}

@media (min-width: 960px) {
  .gallery {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (auto-flow)[3];
        grid-template-rows: repeat(3, auto-flow);
  }
  .gallery-item:first-child,
  .gallery-item:nth-child(7),
  .gallery-item:nth-child(8) {
    grid-column: span 2;
    grid-row: span 1;
  }
  .gallery-item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
  }
}
/*# sourceMappingURL=home.css.map */