body {
  font-family: "Montserrat", sans-serif !important;
}

.index-container {
  max-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.index-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.index-container .row .col-1 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.index-container .row .col-1 h2 {
  font-size: 54px;
}

.index-container .row .col-1 h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}

.index-container .row .col-2 {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-container .row .col-2 .indexBg {
  width: 90%;
}

.index-container .row .col-2 .color-box {
  position: absolute;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#c5847e), to(#F5F1E5));
  background: linear-gradient(#c5847e, #F5F1E5);
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 80%;
  z-index: -1;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

@media (max-width: 640px) {
  .index-container .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .index-container .row .col-1 {
    margin-left: 0px !important;
  }
  .index-container .row .col-1 h2 {
    font-size: 3.5rem !important;
    text-align: center !important;
    width: 25rem;
  }
  .index-container .row .col-1 h3 {
    font-size: 1.5rem !important;
    color: #707070;
    text-align: center;
    width: 25rem;
    font-weight: 300;
  }
  .index-container .col-2 {
    display: none !important;
  }
}

/*
.popup .content {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -150%) scale(0);
    width: 800px;
    height: 600px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background: wheat;
    box-shadow: 38px 38px 56px #1e1e1e, -25px -25px 38px #1e1e1e;
    z-index: 1;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 30px;
    border-radius: 50%;
    padding: 2px 5px 7px 5px;
    background: wheat;
}
.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
.poppop .contents {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -150%) scale(0);
    width: 400px;
    height: 600px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 38px 38px 56px #1e1e1e, -25px -25px 38px #1e1e1e;
    z-index: 1;
}
.poppop .close-bttn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: red;
    font-size: 30px;
    border-radius: 50%;
    padding: 2px 5px 7px 5px;
    background: white;
    box-shadow: 5px 5px 15px white, -5px -5px 15px white;
}

.poppop.active .contents {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 10px;
}

a {
    font-weight: 600;
    color: white;
}

.input-field .validate {
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    color: #bfc0c0;
    background: #262626;
    box-shadow: inset 5px 5px 5px white, inset -5px -5px 5px white;
    outline: none;
}

.first-button {
    color: white;
    font-size: 15px;
    font-weight: 200;
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 130%;
    left: 20%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#ff54a2, #ff575a);
    box-shadow: 18px 18px 25px white, -15px -15px 25px white;
    transition: box-shadow 0.35s ease !important;
    outline: none;
}

.first-button:active {
    background: linear-gradient(145deg, red, red);
    box-shadow: 5px 5px 10px red, -5px -5px 10px red;
    border: none;
}

.second-button {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    background: #262626;
    box-shadow: 8px 8px 15px #202020, -8px -8px 15px #2c2c2c;
    transition: box-shadow 0.35s ease !important;
    outline: none;
}

.second-button:active {
    background: linear-gradient(145deg, red, #292929);
    box-shadow: 5px 5px 10px red, -5px -5px 10px red;
    border: none;
    outline: none;
}
p {
    color: black;
    padding: 20px;
} */
/*# sourceMappingURL=index.css.map */