$phone: 640px;
$font-color: #986545;
$secondary-color: #c5847e;
$third-color: #f5f1e5;

body {
    font-family: "Montserrat", sans-serif !important;
}

.index-container {
    max-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0;

        .col-1 {
            flex-basis: 40%;
            position: relative;
            margin-left: 50px;
            h2 {
                font-size: 54px;
            }
            h3 {
                font-size: 30px;
                color: #707070;
                font-weight: 100;
                margin: 20px 0 10px;
            }
        }
        .col-2 {
            flex-basis: 55%;
            position: relative;
            display: flex;
            align-items: center;

            .indexBg {
                width: 90%;
            }
            .color-box {
                position: absolute;
                right: 0;
                top: 0;
                background: linear-gradient($secondary-color, $third-color);
                border-radius: 20px 0 0 20px;
                height: 100%;
                width: 80%;
                z-index: -1;
                transform: translateX(150px);
            }
        }
    }
}

@media (max-width: $phone) {
    .index-container {
        .row {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
            .col-1 {
                margin-left: 0px !important;
                h2 {
                    font-size: 3.5rem !important;
                    text-align: center !important;
                    width: 25rem;
                }

                h3 {
                    font-size: 1.5rem !important;
                    color: #707070;
                    text-align: center;
                    width: 25rem;
                    font-weight: 300;
                }
            }
        }

        .col-2 {
            display: none !important;
        }
    }
}

//FORMS

.popup {
    .content {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -150%) scale(0);
        width: 25rem;
        height: 30rem;
        z-index: 2;
        text-align: center;
        padding: 20px;
        border-radius: 20px;
        z-index: 1;
        border-radius: 50px;
        background-color: white;
        padding: 1rem;
        box-shadow: 5px 5px 5px 5px #e0e0e0;

        .close-btn {
            position: absolute;
            right: 30px;
            top: 20px;
            width: 30px;
            height: 30px;
            color: black;
            font-size: 30px;
            border-radius: 50%;
            padding: 2px 5px 7px 5px;
            font-weight: 500;

            &:hover{
                background-color: $third-color;
                height: 50px;
                width: 50px;
            }
        }

        img{
            height: 100px;
            width: 130px;
        }

        .title{
            font-size: 1.8rem;
            font-weight: 500;
        }

        .caption{
            font-weight: 300;
            padding-bottom: 1rem;
        }

        .input-field{
            padding: 0.5rem;

            .validate{
                padding: 0rem 0.5rem;
                border-radius: 10px;
                border: 2px solid #707070;
                height: 3rem;
                font-size: 1.3;

                &:hover{
                    border: 3px solid $font-color;
                }
            }
        }

        .second-button{
            background-color: $font-color;
            color: white;
            height: 2.5rem;
            width: 6rem;
            border-radius: 10px;
            margin: 1rem 0rem;
            border: 2px solid $font-color;

            &:hover{
                background-color: white;
                color: $font-color;
            }
        }

        .signup{
            color: #707070;
            font-weight: 700;
        }

        .confirmData{
            padding: 0.5rem 0rem;
            font-size: 1rem;
            color: rgb(240, 100, 100);
            font-weight: 700;
        }
    }


}


.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -120%) scale(1);
}

.sign-up-popup {
    .content {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -150%) scale(0);
        width: 25rem;
        height: 42rem;
        z-index: 2;
        text-align: center;
        padding: 20px;
        border-radius: 20px;
        z-index: 1;
        border-radius: 50px;
        background-color: white;
        padding: 1rem;
        box-shadow: 5px 5px 5px 5px #e0e0e0;

        .close-btn {
            position: absolute;
            right: 30px;
            top: 20px;
            width: 30px;
            height: 30px;
            color: black;
            font-size: 30px;
            border-radius: 50%;
            padding: 2px 5px 7px 5px;
            font-weight: 500;

            &:hover{
                background-color: $third-color;
                height: 50px;
                width: 50px;
            }
        }

        img{
            height: 100px;
            width: 130px;
        }

        .title{
            font-size: 1.8rem;
            font-weight: 500;
        }

        .caption{
            font-weight: 300;
            padding-bottom: 1rem;
        }

        .input-field{
            padding: 0.5rem;

            .validate{
                padding: 0rem 0.5rem;
                border-radius: 10px;
                border: 2px solid #707070;
                height: 2rem;
                font-size: 1.3;

                &:hover{
                    border: 3px solid $font-color;
                }
            }
        }

        .second-button{
            background-color: $font-color;
            color: white;
            height: 2rem;
            width: 5rem;
            border-radius: 10px;
            margin: 1rem 0rem;
            border: 2px solid $font-color;

            &:hover{
                background-color: white;
                color: $font-color;
            }
        }

        .signup{
            color: #707070;
            font-weight: 700;
        }

        .confirmData{
            padding: 0.5rem 0rem;
            font-size: 1rem;
            color: rgb(240, 100, 100);
            font-weight: 700;
        }
    }


}


.sign-up-popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -96%) scale(1);
}
