body {
  font-family: "Montserrat", sans-serif;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
  color: #986545;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-nav .nav-item .nav-link-phone {
  display: none !important;
}

#homeText {
  display: none !important;
}

#profileIcon {
  font-size: 2.3em;
  text-decoration: none;
  color: #986545;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

#homeIcon {
  color: #e7ddc0;
  font-size: 1.8em !important;
  text-decoration: none;
}

.navbar-brand img {
  height: 100px;
  width: 130px;
}

@media (max-width: 640px) {
  .navbar-nav {
    margin-left: 1rem;
  }
  .navbar-nav .nav-item {
    padding-bottom: 0.5rem;
  }
  .navbar-nav .nav-item .nav-link,
  .navbar-nav .nav-item .nav-link-phone {
    color: #986545;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .navbar-nav .nav-item .nav-link-phone {
    display: block !important;
  }
  .navbar-nav .nav-item a:hover:not(.active) {
    border-radius: 10px;
    border: 3px solid #f5f1e5;
    color: #986545;
    -webkit-transition: all 1ms ease;
    transition: all 1ms ease;
  }
  .navbar-nav .nav-item #active {
    background-color: #986545;
    border-radius: 10px;
    color: white !important;
    padding: 0.5rem 1rem;
    display: block !important;
  }
  #homeText {
    display: block !important;
  }
  #profileIcon,
  #homeIcon,
  #popup-profile {
    display: none !important;
  }
  #navbarNavDropdown,
  .navbar-toggler {
    background-color: #f5f1e5;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(197, 132, 126)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.profile-popup .content {
  position: absolute;
  top: 35%;
  left: 88%;
  -webkit-transform: translate(-50%, -150%) scale(0);
          transform: translate(-50%, -150%) scale(0);
  width: 150px;
  height: 150px;
  z-index: 2;
  padding: 1rem 0rem;
  z-index: 1;
  border-radius: 10px;
  background-color: #f5f1e5;
  -webkit-box-shadow: 2px 2px 2px 2px #e0e0e0;
          box-shadow: 2px 2px 2px 2px #e0e0e0;
}

.profile-popup .content ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0.5rem;
  font-size: 1rem !important;
}

.profile-popup .content ul li i {
  margin-right: 0.5rem;
  margin-top: 0.3rem;
  color: #986545;
}

.profile-popup .content ul li a {
  text-decoration: none;
  color: #986545;
  font-size: 1rem;
}

.profile-popup.active .content {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translate(-30%, -100%) scale(1);
          transform: translate(-30%, -100%) scale(1);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

.profile-container {
  max-width: 80rem;
  margin: 0 10rem;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */
.profile {
  padding: 5rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.profile-user-name {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #986545;
}

.profile-edit-btn {
  font-size: 1rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
}

.profile-edit-btn a {
  text-decoration: none;
  color: black;
}

.profile-edit-btn input {
  margin-left: -3rem;
  width: 15rem;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
  color: black;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}

#overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Gallery Section */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -3rem -1rem;
  padding-bottom: 3rem;
}

.gallery-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 22rem;
          flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.gallery-item-likes {
  margin-right: 2.2rem;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.gallery-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Loader */
.loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-animation: loader 500ms linear infinite;
          animation: loader 500ms linear infinite;
}

/* Media Query */
@media screen and (max-width: 40rem) {
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 4rem 0;
  }
  .profile-container {
    max-width: 93rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .profile::after {
    display: none;
  }
  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
    float: none;
    width: auto;
  }
  .profile-image img {
    height: 200px;
    width: 200px;
  }
  .profile-user-settings {
    -ms-flex-preferred-size: calc(100% - 10.7rem);
        flex-basis: calc(100% - 10.7rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1rem;
  }
  .profile-user-name {
    font-size: 2.2rem;
  }
  .profile-edit-btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
    padding: 0.3rem;
  }
  .profile-edit-btn {
    margin-left: 0;
  }
  .profile-edit-btn input {
    width: 15rem;
  }
  #dashboard {
    margin-top: 1rem;
  }
  .profile-bio {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .profile-stats {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 1.5rem;
  }
  .profile-stats ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 1.2rem 0;
    border-top: 0.1rem solid #dadada;
    border-bottom: 0.1rem solid #dadada;
  }
  .profile-stats li {
    font-size: 1.4rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
  }
  .profile-stat-count {
    display: block;
  }
}

/* Spinner Animation */
@-webkit-keyframes loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@supports (display: grid) {
  .profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile-image {
    grid-row: 1 / -1;
  }
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
  }
  .profile-image,
  .profile-user-settings,
  .profile-stats,
  .profile-bio,
  .gallery-item,
  .gallery {
    width: auto;
    margin: 0;
  }
  @media (max-width: 40rem) {
    .profile {
      -ms-grid-columns: auto 1fr;
          grid-template-columns: auto 1fr;
      grid-row-gap: 1.5rem;
    }
    .profile-image {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2;
    }
    .profile-user-settings {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto 1fr;
          grid-template-columns: auto 1fr;
      grid-gap: 1rem;
    }
    .profile-edit-btn,
    .profile-stats,
    .profile-bio {
      grid-column: 1 / -1;
    }
    .profile-user-settings,
    .profile-edit-btn,
    .profile-settings-btn,
    .profile-bio,
    .profile-stats {
      margin: 0;
    }
  }
}
/*# sourceMappingURL=profile.css.map */